<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="google" translate="label">
            <resource>KingfisherDirect_GoogleTagManager::config</resource>
            <group id="tagmanager" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Tag Manager</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="container_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Container ID</label>
                    <comment>The Container ID code. It's in a format GTM-XXXXXXX</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
